body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.5px;
}

hr {
    margin: 15px 0;
}

.main {
    width: 600px;
    margin: 0 auto;
}

.postForm > div {
    margin-top: 5px;
    margin-bottom: 10px;
}

.post__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

